apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "onyxia.ui.fullname" . }}
  labels:
    {{- include "onyxia.ui.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.ui.replicaCount }}
  selector:
    matchLabels:
      {{- include "onyxia.ui.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "onyxia.ui.selectorLabels" . | nindent 8 }}
{{- with .Values.ui.podLabels }}
{{ toYaml . | indent 8 }}
{{- end }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "onyxia.ui.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.ui.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.ui.securityContext | nindent 12 }}
          image: "{{ .Values.ui.image.name }}:{{ .Values.ui.image.version }}"
          imagePullPolicy: {{ .Values.ui.image.pullPolicy }}
          env:
           {{- if .Values.ui.env }}
            {{- range $key, $value := .Values.ui.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end -}}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.ui.containerPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.ui.resources | nindent 12 }}
          {{- if .Values.ui.extraVolumeMounts }}
          volumeMounts: {{- toYaml .Values.ui.extraVolumeMounts | nindent 12 }}
          {{- end }}
      {{- with .Values.ui.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.ui.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.ui.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- if .Values.ui.extraVolumes }}
    volumes: {{- toYaml .Values.ui.extraVolumes | nindent 6 }}
    {{- end }}
