{{- if .Values.ingress.enabled -}}
{{- $fullNameApi := include "onyxia.api.fullname" . -}}
{{- $fullNameUi := include "onyxia.ui.fullname" . -}}
{{- $fullName := include "onyxia.fullname" . -}}
{{- $svcPortApi := .Values.api.service.port -}}
{{- $svcPortUi := .Values.api.service.port -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "onyxia.labels" . | nindent 4 }}
  annotations:
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
    nginx.ingress.kubernetes.io/rewrite-target: /$1

spec:
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          - path: /api/(.*)
            pathType: Prefix
            backend:
              service:
                name: {{ $fullNameApi }}
                port: 
                  number: {{ $svcPortApi }}
          - path: /(.*)
            pathType: Prefix
            backend: 
              service:
                name: {{ $fullNameUi }}
                port: 
                  number: {{ $svcPortUi }}
    {{- end }}
{{- end }}
