apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "library-chart.fullname" . }}
rules:
  - apiGroups: [""]       
    resources: ["pods", "services"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: [""]       
    resources: ["events", "services/status"]
    verbs: ["get", "list", "watch"]